body {
    text-align: center;
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    margin: 2%;
    display: block;
    padding: 10px;
    color: lightgray;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
}

h1 {
    color: rgb(194, 39, 39);
    margin-top: 0;
}

a {
    color: rgb(100, 161, 241);
    text-decoration: none;
}

a:hover {
    color: rgb(55, 108, 177);
}