/* GLOBAL ELEMENTS */

body {
    margin: 10px;
    color: #c5c5c5;
    text-align: center;
    background-color: #1b2d44;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #838383;
}

a {
    color: #337e33;
    text-decoration: none;
}

a:hover {
    color:  #379e37;
}

/* LAYOUT ELEMENTS */
.box {
    background-color: #1f3552;
    border-radius: 10px;
    padding: 10px;
}

.sub-box {
    background-color: #1b3f6e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* SPECIFICS */