.cmd-box {
    margin: 2%;
    padding: 2%;
    display: block;
}

.cmd-line {
    margin-top: 5px;
    height: 20px;
}

.cmd-line input {
    width: 90%;
    height: 20px;
    float: left;
}

.cmd-line button {
    width: 8%;
}

#cmd-window {
    width: 100%;
    height: 50vh;
    display: block;
    resize: none;
}